{% block head %}
  <title> Quackheads Blog </title>
  <h1> Quackheads Blog </h1>
{% endblock %}

{% block content %}
  <form action = "/createBlog">
    <fieldset>
        <legend> Create Post </legend>
        <br>
        <label> Title: </label>
        <input type = "text" id = "postTitle" value = "Enter Title Here" />
        <br>
        <label> Post Content </label>
        <textarea id = "postContent" rows = 3 columns = 100> Your input goes here </textarea>
        <input type = "submit" id = "submit" value = "Create post" />
      </fieldset>
    </form>
  {% endblock %}

  {% block footer %}
      <a href="/welcome">Back to homepage</a>
      <br>
      <a href="/showall">Show All Blogs</a>
  {% endblock %}
