{% block head %}
  <title> Quackheads Blog </title>
  <h1> Quackheads Blog </h1>
{% endblock %}

{% block content %}
  <form action = "/viewBlog">
    <fieldset>
        <legend> Create Post </legend>
        <br>
        <!-- <label> Title: </label> -->
        <input type="text" name="postTitle" placeholder="Enter Title Here" />
        <br>
        <br>
        <!-- <label> Post Content: </label> -->
        <br>
        <textarea name="postContent" rows="10" cols="40" placeholder="Enter Post Here"></textarea>
        <br><br>
        <input type="submit" id="submit" value="Create post" />
      </fieldset>
    </form>

  {% endblock %}


  {% block footer %}
      <a href="/welcome">Back to homepage</a>
      <br>
      <br>
      <a href="/showall">Show All Blogs</a>
  {% endblock %}
