{% extends 'basic.html' %}
  {% block head %}
  <h2> Quackheads Blog </h2>
  {%endblock%}

  {% block content %}

  {%if error%}
    <font color="red"> {{error}} </font>
  {%endif%}

    <h1> Login Below: </h1>
    <form action = "/auth">
      <p> Username: </p>
      <input type = "text" name = "username">
      <br>
      <br>
      <p> password: </p>
      <input type = "password" name = "password">
      <br>
      <br>
      <input type = "submit" name = "sub1" value = "login">
  </form>
  {% endblock %}

  {% block footer %}
    <a href="/register">register here</a>
  {%endblock%}
