{% block head %}
  <title> Quackheads Blog </title>
  <h1> Quackheads Blog </h1>
{% endblock %}

{% block content %}
  <form action = "/results">
    <fieldset>
        <legend> Search </legend>
        <br>
        <label> Enter Keywords: </label>
        <input type = "text" name = "searchInput" placeholder = "Keyword" />
        <input type = "submit" id = "submit" value = "Search" />
      </fieldset>
    </form>
  {% endblock %}

  {% block footer %}
      <a href="/welcome">Back to homepage</a>
      <br>
      <br>
      <a href="/showall">Show All Blogs</a>
  {% endblock %}
