{% block head %}
{% block title %}
  <h1> Quackheads blog </h1>
  {% endblock %}
  <h2> {{blogName}} </h2>
{% endblock %}

{% block content %}
  <form action = "/createPost">
    <button type = "submit" name = blogName value = "{{blogName}}"> Create Post </button>
  </form>
  <br>
  <br>
  <fieldset>
      <legend> Posts: </legend>
  {% for postTitle in posts %}
  <fieldset>
    <h4> {{postTitle}} </h4>
    <pre> {{posts[postTitle]}} </pre>
    <form action = "/edit">
      <button type="submit" name="edit" value="{{postTitle}}">Edit</button>
    </form>
    <form action = "/delete">
      <button type="submit" name="delete" value="{{postTitle}}">Delete</button>
    </form>
  </fieldset>
  <br>
  {% endfor %}
  </fieldset>



  <br>
    <a href="/showall">Show All Blogs</a>
    <br>
    <a href="/welcome">Back to homepage</a>
    <br>
    <a href="/search">Search Blogs</a>
  <br><br>
  <a href = "/auth">logout</a>
{% endblock %}

{% block footer %}

{% endblock %}
