{% block head %}
{% block title %}
  <h1> Quackheads blog </h1>
  {% endblock %}
  <h2> Welcome to your blog {{username}}!! </h2>
{% endblock %}

{% block content %}
  <a href="/createPost">Create New Post</a>
  <fieldset>
      <legend> Posts: </legend>
  <p> implementation soon to come </p>
  </fieldset>



  <br>
    <a href="/showall">Show All Blogs</a>
    <br>
    <a href="/search">Search Blogs</a>
  <br><br>
  <a href = "/auth">logout</a>
{% endblock %}

{% block footer %}

{% endblock %}
