{% block head %}
{% block title %}
  <h1> Quackheads blog </h1>
  {% endblock %}
  <h2>Welcome {{username}}!! </h2>
{% endblock %}

{% block content %}
	{{get_flashed_messages()[0]}} <br>
  <a href="/createBlog">Create New Blog</a>
  <br>
  <br>
  <fieldset>
      <legend> Blogs: </legend>
  <form action = "/viewBlog">
  {% for blogName in blogNames %}
  <fieldset>
    <h4> {{blogName}} </h4>
    <button type="submit" name="blogName" value="{{blogName}}">view</button>
  </fieldset>
  <br>
  {% endfor %}
  </form>
  </fieldset>



  <br>
    <a href="/showall">Show All Blogs</a>
    <br>
    <br>
    <a href="/search">Search Blogs</a>
  <br><br>
  <a href = "/auth">logout</a>
{% endblock %}

{% block footer %}

{% endblock %}
